<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.example.hello"
        version   = "1.0.0">

    <name>HelloWorld</name>
    <description>
        Test.
    </description>
    <author email="strahdza@gmail.com" href="http://">
        Aggies
    </author>
    <content src="index.html" />

    <!--
    <access origin="http://sintrex.duckdns.org"></access>
    <access origin="http://sintrex.duckdns.org:8881"></access>
    -->
    <allow-navigation href="http://sintrex.duckdns.org:8881/*" />


    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />



</widget>

